body {
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: "Courier New", Courier, monospace;
}
#container {
	text-align: center;
	width: 250px;
	height: 300px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	box-shadow: 9px 9px 25px 10px rgba(66, 68, 90, 1);
	border-radius: 10px;
}

#celsius {
	width: 50px;
	margin: 20px 0;
}

#therm {
	background-image: url(therm.png);
	background-repeat: no-repeat;
	width: 110px;
	height: 360px;
	z-index: 1;
	position: absolute;
	right: 100px;
}
#hot {
	background-color: rgb(255, 28, 28);
	width: 20px;
	height: 0;
	position: absolute;
	right: 47px;
	bottom: 95px;
	z-index: 10;
	border-radius: 4px;
	
}
#cold {
	background-color: rgb(32, 99, 255);
	width: 20.1px;
	height: 0;
	position: absolute;
	right: 47px;
	bottom: 95px;
	z-index: 10;
	border-radius: 4px;

}
